#content {
    padding-top: 10rem !important;
}

.centered {
    text-align: center !important;
    align-items: center !important;
    align-content: center !important;
    align-self: center !important;
}

#cloud {
    width: 54px;
    height: 54px;
}

.image-text-container {
    display: flex;
    width: 418px;
    height: 54px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    flex-shrink: 0;
    color: #1EFBA0 !important;
    text-decoration: none;
}

.card-header-container {
    display: flex;
    justify-content: space-between;
}

.cards {
    margin-top: 20px;
    margin-left: 290px;
    margin-right: 290px;
}

.card {
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid var(--Tiffany-Blue, #A3E5D9);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20), 0px 2px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    background: none;
}

#detail-btn {
    min-width: 25px;
    min-height: 25px;
    flex-shrink: 0;
}

.card-image {
    width: 500px;
    height: 100px;
}

.card:hover {
    background-color: #042338;
}

.card:hover .card-image {
    opacity: 0.7;
    content: url('/assets/icons/export.svg');
}

.card-body {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.card-title {
    width: 100%;
    flex: 1;
    font-size: 20px;
    overflow: hidden;
}

.left-content {
    flex: 1;
  }
  

.right-content {
    flex-shrink: 0;
    margin-left: 10px;
}