#content {
    padding-top: 10rem !important;
}

.centered {
    text-align: center !important;
    align-items: center !important;
    align-content: center !important;
    align-self: center !important;
}

.card-header-container {
    display: flex;
    justify-content: space-between;
}

.cards {
    margin-top: 20px;
    margin-left: 239px;
    margin-right: 239px;
}

.card {
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid var(--Tiffany-Blue, #A3E5D9);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20), 0px 2px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    background: none;
}

#detail-btn {
    min-width: 25px;
    min-height: 25px;
    flex-shrink: 0;
}

.card-image {
    width: 500px;
    height: 100px;
}

.card-body {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.card-title {
    width: 100%;
    flex: 1;
    font-size: 20px;
    overflow: hidden;
}

.description {
    min-height: 42px;
    font-weight: medium;
    font-size: 14px;
    color: black;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.left-content {
    flex: 1;
  }
  

.right-content {
    flex-shrink: 0;
    margin-left: 10px;
}