/* @font-face {
    font-family: 'Quicksand-Light';
    src: url('assets/fonts/Quicksand/Quicksand-Light.ttf');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('assets/fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('assets/fonts/Quicksand/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'Quicksand-SemiBold';
    src: url('assets/fonts/Quicksand/Quicksand-SemiBold.ttf');
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('assets/fonts/Quicksand/Quicksand-Bold.ttf');
} */

/* Add the Quicksand Font */
@font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}

body {
    background-color: #43519A !important;
    font-weight: bold;
    font-family: 'Quicksand';
}


/* For the Background Pattern */
body::before {
    content: "";
    background: url("./assets/icons/backgroundPattern.svg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.01;
    background-size: 600px;
}