<div class="container-fluid" id="content" style="padding-top: 1rem">
  <div class="row justify-content-between">
    <div class="col-4 centered">
      <h1>DETALLE PAQUETE DE ALARMAS</h1>
    </div>
    <div class="col-4 centered">
      <div class="row align-items-center">
        <a class="image-text-container" [routerLink]="['/packages/import']">
          <img src="/assets/icons/cloud.png" id="logo" alt="On Time Logo" />
          <h3>IMPORTAR</h3>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="left">
        <!-- Nombre -->
        <label for="nombre" class="name-label">Universidad</label><br />

        <!-- Imagen -->
        <img src="/assets/images/imgCategoria1.jpeg" alt="Universidad" class="image" /><br />

        <!-- Descripción -->
        <label for="descripcion" class="description-label">Paquete de alarmas para que puedas organizarte en la universidad</label><br />
    </div>
    <div class="right">
      <div class="alarms" style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;">
        <div class="card">
          <div class="time">11:00</div>
          <div class="days">Lunes, Miércoles, Viernes</div>
          <hr />
          <div class="title">DESPERTARSE</div>
        </div>
        <div class="card">
          <div class="time">11:00</div>
          <div class="days">Lunes, Miércoles, Viernes</div>
          <hr />
          <div class="title">DESPERTARSE</div>
        </div>
        <div class="card">
          <div class="time">11:00</div>
          <div class="days">Lunes, Miércoles, Viernes</div>
          <hr />
          <div class="title">DESPERTARSE</div>
        </div>
        <div class="card">
          <div class="time">11:00</div>
          <div class="days">Lunes, Miércoles, Viernes</div>
          <hr />
          <div class="title">DESPERTARSE</div>
      </div>
    </div>
  </div>
</div>
